*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 80vh;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
input{
    display: block;
    padding-bottom: 5px;
    margin:auto;
    width: 60%;
    text-align: center;
    border: none;
    border-bottom: 2px solid grey;
}
input:focus{
    outline: none;
    border-bottom: 2px solid rgb(127, 255, 127);
}
label span{
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

#tell-me{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(13, 10, 31);
    border: none;
    color: white;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#tell-me:hover{
    background-color: rgba(13, 10, 31, 0.8);
}
#output{
    font-size: 24px;
}

/* mobiel media query */
@media only screen and (max-width: 600px){
    .container{
        min-height: 90vh;
        width: 80%;
        margin-top: 30px;
        padding: 20px;
    }
    input{
        width: 90%;
    }
}